Repository ItsJonQ/g2, pull requests merged in 2021-03, with the labels that each got.

#277 Styled Components: Fix interpolated className
  lerna.json
  packages/babel-plugin-styles/package.json
  packages/components/package.json
  packages/components/src/Alert/__tests__/__snapshots__/Alert.test.js.snap
  packages/components/src/Animated/__tests__/__snapshots__/Animated.test.js.snap
  packages/components/src/Animated/__tests__/__snapshots__/AnimatedContainer.test.js.snap
  packages/components/src/Collapsible/__tests__/__snapshots__/Collapsible.test.js.snap
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/context/package.json
  packages/context/src/context-connect.js
  packages/context/src/use-context-system.js
  packages/create-styles/package.json
  packages/create-styles/src/create-style-system/create-core-element.js
  packages/create-styles/src/create-style-system/create-styled-components.js
  packages/create-styles/src/create-style-system/utils.js
  packages/design-tools/package.json
  packages/hint/package.json
  packages/styles/package.json
  packages/website/package.json
Labels: context, styles, systems

#288 Add type="button" by default to Button component
  packages/components/src/Alert/__tests__/__snapshots__/Alert.test.js.snap
  packages/components/src/BaseButton/__tests__/BaseButton.test.js
  packages/components/src/BaseButton/__tests__/__snapshots__/BaseButton.test.js.snap
  packages/components/src/BaseButton/useBaseButton.js
  packages/components/src/Button/__tests__/Button.test.js
  packages/components/src/Button/__tests__/__snapshots__/Button.test.js.snap
  packages/components/src/ButtonGroup/__tests__/__snapshots__/ButtonGroup.test.js.snap
  packages/components/src/Card/__tests__/__snapshots__/Card.test.js.snap
  packages/components/src/ClipboardButton/__tests__/__snapshots__/ClipboardButton.test.js.snap
  packages/components/src/CloseButton/__tests__/__snapshots__/CloseButton.test.js.snap
  packages/components/src/ColorControl/__tests__/__snapshots__/ColorControl.test.js.snap
  packages/components/src/ControlGroup/__tests__/__snapshots__/ControlGroup.test.js.snap
  packages/components/src/SearchInput/__tests__/__snapshots__/SearchInput.test.js.snap
  packages/components/src/Stepper/__tests__/__snapshots__/Stepper.test.js.snap
  packages/components/src/Tag/__tests__/__snapshots__/Tag.test.js.snap
  packages/components/src/Tooltip/__tests__/__snapshots__/Tooltip.test.js.snap
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
Labels: components

#294 Add Typography controls (To Global Styles Sidebar V2 Prototype)
  packages/components/package.json
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/GlobalStylesSidebarV2.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/components/Inspector.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/components/Screen.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/components/ScreenHeader.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/screens/TypographyElementScreen.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/screens/TypographyElementScreen/TypographyElementScreen.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/screens/TypographyElementScreen/index.js
  packages/components/src/__fixtures__/GlobalStylesSidebarV2/state/AppState.js
  yarn.lock
Labels: prototype
