Repository ItsJonQ/g2, pull requests merged in 2021-02, with the labels that each got.

#252 Flex, HStack, FontSizePicker: Improve responsive rendering for longer translation labels
  packages/components/src/Flex/Flex.styles.js
  packages/components/src/Flex/useFlex.js
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/font-size-control/font-size-control-select.js
  packages/components/src/font-size-control/font-size-control-slider.js
  packages/components/src/font-size-control/font-size-control-styles.js
  packages/components/src/font-size-control/font-size-control-utils.js
Labels: bug, components, enhancement

#250 SelectDropdown: Re-enable Portal support
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/select-dropdown/__tests__/__snapshots__/index.js.snap
  packages/components/src/select-dropdown/select-dropdown-styles.js
  packages/components/src/select-dropdown/select-dropdown.js
  packages/components/src/select-dropdown/use-select-dropdown.js
Labels: a11y, components, enhancement

#255 Remove need for memoization in accordion
  packages/components/src/Accordion/Accordion.Context.js
  packages/components/src/Accordion/useAccordion.js
Labels: components, enhancement

#253 Panel: Fix visible prop handling
  packages/components/src/Accordion/Accordion.Context.js
  packages/components/src/Accordion/useAccordion.js
Labels: bug, components

#261 Text: Improve muted contrast ratio
  packages/components/src/ControlGroup/__tests__/__snapshots__/ControlGroup.test.js.snap
  packages/components/src/Select/__tests__/__snapshots__/Select.test.js.snap
  packages/components/src/Slider/__tests__/__snapshots__/Slider.test.js.snap
  packages/components/src/Subheading/__tests__/__snapshots__/Subheading.test.js.snap
  packages/components/src/Text/__tests__/__snapshots__/Text.test.js.snap
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/select-dropdown/__tests__/__snapshots__/index.js.snap
  packages/styles/src/theme/config.js
  packages/styles/src/theme/dark-mode-config.js
Labels: a11y, components, styles

#265 fix: Spacing parameter types
  packages/styles/src/presets/spacing.js
Labels: components, typescript

#267 SelectDropdown: Remove inline CSS comment
  packages/components/src/select-dropdown/select-dropdown-styles.js
Labels: bug, systems

#269 Add Stylelint
  .eslintignore
  .github/workflows/ci.yml
  .stylelintignore
  .stylelintrc.js
  package.json
  packages/components/src/Menu/Menu.js
  packages/components/src/Switch/Switch.styles.js
  packages/components/src/Switch/__tests__/__snapshots__/Switch.test.js.snap
  packages/components/src/TextInput/useTextInputState.utils.js
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/font-size-control/font-size-control-select.js
  yarn.lock
Labels: styles, tooling

#271 Add automagical interpolation of StyleQueries
  packages/styles/src/__tests__/css.test.js
  packages/styles/src/css.js
  packages/styles/src/presets/style-query.js
Labels: styles, systems

#272 RTL: Check document.dir on css() execution rather than using a cached value
  packages/create-styles/src/create-compiler/__tests__/rtl.test.js
  packages/create-styles/src/create-compiler/plugins/rtl.js
Labels: styles, systems

#274 Add missing dependency
  packages/context/package.json
  packages/create-styles/package.json
Labels: bug, context, systems
