Repository ItsJonQ/g2, pull requests merged in 2021-01, with the labels that each got.

#206 SelectDropdown: Fix duplicate onChange callback
  packages/components/src/select-dropdown/use-select-dropdown.js
Labels: bug, components

#207 Update to use-enhanced-state, localizing array-move for improved ES builds
  packages/protokit/package.json
  packages/utils/package.json
  yarn.lock
Labels: build-systems

#209 SelectDropdown: Focus "select" button on select action
  packages/components/src/select-dropdown/use-select-dropdown.js
Labels: bug, components

#210 FontSizeControl: Add missing useContextSystem namespace in hook
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/font-size-control/use-font-size-control.js
Labels: bug, components

#205 Fix: Remove renderItem prop from font size picker
  packages/components/src/font-size-control/__stories__/index.stories.js
  packages/components/src/font-size-control/use-font-size-control.js
Labels: components, enhancement

#204 Fix: Text Input when value changes externally it becomes undeletable
  packages/components/src/TextInput/__stories__/TextInput.stories.js
  packages/components/src/TextInput/useTextInputState.js
Labels: bug, components

#201 Fix: Font size picker calls on change on each rerender.
  packages/components/src/font-size-control/__stories__/index.stories.js
  packages/components/src/font-size-control/font-size-control-utils.js
  packages/components/src/font-size-control/use-font-size-control.js
  packages/components/src/select-dropdown/use-select-dropdown.js
Labels: bug, components

#211 Remove usages of is.function, is.string, and is.array.
  packages/components/src/Accordion/useAccordion.js
  packages/components/src/Animated/Animated.js
  packages/components/src/BaseModal/BaseModal.js
  packages/components/src/ColorPicker/ColorPickerInputs.js
  packages/components/src/Flex/useFlex.js
  packages/components/src/Initials/Initials.utils.js
  packages/components/src/ListGroup/ListGroupFooter.js
  packages/components/src/ListGroup/ListGroupHeader.js
  packages/components/src/Select/useSelect.js
  packages/components/src/Text/Text.utils.js
  packages/components/src/Text/useText.js
  packages/components/src/TextInput/useTextInputState.js
  packages/components/src/Truncate/Truncate.utils.js
  packages/components/src/Truncate/useTruncate.js
  packages/components/src/Viewport/Viewport.utils.js
  packages/components/src/__stories__/WIP/Toolbar.stories.js
  packages/components/src/font-size-control/font-size-control-utils.js
  packages/context/src/context-connect.js
  packages/context/src/use-context-system.js
  packages/create-styles/src/components/theme-provider/utils.js
  packages/create-styles/src/create-compiler/create-compiler.js
  packages/create-styles/src/create-compiler/create-css.js
  packages/create-styles/src/create-compiler/responsive.js
  packages/create-styles/src/create-style-system/create-core-element.js
  packages/create-styles/src/create-style-system/create-styled-components.js
  packages/create-styles/src/create-style-system/utils.js
  packages/hint/src/processor.js
  packages/protokit/src/mockers/mockRequest.js
  packages/styles/src/css.js
  packages/styles/src/hooks/use-responsive-value.js
  packages/styles/src/mixins/flow.js
  packages/styles/src/mixins/transforms.js
  packages/styles/src/mixins/z-index.js
  packages/styles/src/theme/create-theme.js
  packages/utils/src/colors.js
  packages/utils/src/event-handlers.js
  packages/utils/src/hooks/use-media-query.js
  packages/utils/src/media-queries.js
  packages/utils/src/react.js
  packages/utils/src/unit-values.js
  packages/utils/src/validation.js
  packages/website/src/components/DefinitionPopover.js
Labels: refactor, utils

#212 Dropdown: Add z-index and MenuItem normalization. UnitInput: Fix non-unit to unit conversion
  packages/components/src/Dropdown/Dropdown.styles.js
  packages/components/src/Dropdown/DropdownMenuCard.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
  packages/components/src/UnitInput/useUnitInput.js
Labels: bug, components

#213 UnitInput: Improve initial unit parsing handling to better serve values like "auto"
  packages/components/src/UnitInput/UnitInput.utils.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
  packages/components/src/UnitInput/useUnitInput.js
Labels: bug, components

#214 UnitValues utils: Fixes CSS Prop unit validation for SSR
  packages/utils/src/unit-values.js
Labels: bug, components

#215 TextInput/UnitInput: Allow incrementing from non-numeric starting values, such as auto.
  packages/components/src/TextInput/types.ts
  packages/components/src/TextInput/useTextInputNumberState.js
  packages/components/src/TextInput/useTextInputState.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
  packages/components/src/UnitInput/useUnitInput.js
Labels: components, enhancement

#216 Fix: SegmentedControl value/state sync. HStack/VStack Spacer rendering.
  packages/components/src/HStack/__tests__/__snapshots__/HStack.test.js.snap
  packages/components/src/SegmentedControl/SegmentedControl.js
  packages/components/src/SegmentedControl/__stories__/SegmentedControl.stories.js
  packages/components/src/VStack/__tests__/__snapshots__/VStack.test.js.snap
  packages/context/src/context-connect.js
Labels: bug, components

#217 Dropdown: Fix MenuItem width rendering for multiple items
  packages/components/src/Menu/MenuItem.js
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
Labels: bug, components

#218 UnitInput: Fix parsing of initial unit to handle `0` and unit values like `0px`
  packages/components/src/UnitInput/UnitInput.utils.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
Labels: bug, components

#219 Fork Zustand (3.3.1) into @wp-g2/substate
  packages/components/src/Accordion/useAccordion.js
  packages/components/src/TextInput/useTextInputState.js
  packages/components/src/TextInput/useTextInputState.utils.js
  packages/components/src/UnitInput/useUnitInput.js
  packages/context/src/context-system-provider.js
  packages/create-styles/src/components/theme-provider/utils.js
  packages/create-styles/src/hooks/use-reduced-motion.js
  packages/substate/package.json
  packages/substate/src/index.js
  packages/substate/src/use-sub-state.js
  packages/substate/src/zustand/README.md
  packages/substate/src/zustand/index.js
  packages/substate/src/zustand/middleware.js
  packages/substate/src/zustand/shallow.js
  packages/substate/src/zustand/types.ts
  packages/substate/src/zustand/vanilla.js
  yarn.lock
Labels: dependencies, systems

#220 Accordion: Replace zustand state management with useReducer
  packages/components/src/Accordion/Accordion.Context.js
  packages/components/src/Accordion/Accordion.js
  packages/components/src/Accordion/index.js
  packages/components/src/Accordion/useAccordion.js
  packages/components/src/Panel/Panel.js
Labels: components, refactor

#225 Accordion: Add types and slight refactor
  packages/components/src/Accordion/Accordion.Context.js
  packages/components/src/Accordion/useAccordion.js
Labels: components, refactor

#224 Use wp/data for singleton modal state
  packages/components/src/BaseModal/BaseModal.Context.js
  packages/components/src/BaseModal/store.js
Labels: components, refactor

#228 Build: Babel Runtime + Browsers List
  .browserslistrc
  lerna.json
  package.json
  packages/babel-plugin-styles/package.json
  packages/components/package.json
  packages/context/package.json
  packages/create-styles/package.json
  packages/design-tools/package.json
  packages/gatsby-plugin-styles/package.json
  packages/hint/package.json
  packages/icons/package.json
  packages/protokit-starter/package.json
  packages/protokit/package.json
  packages/styles/package.json
  packages/substate/package.json
  packages/utils/package.json
  packages/website/package.json
Labels: tooling

#229 Use Context System: Grab context props using a selector
  packages/components/src/ColorPicker/__stories__/ColorPicker.stories.js
  packages/context/src/use-context-system.js
Labels: enhancement

#233 Dependencies: Align dependencies with WP packages
  package.json
  packages/components/package.json
  packages/create-styles/package.json
  packages/design-tools/package.json
  packages/gatsby-plugin-styles/package.json
  packages/utils/package.json
  yarn.lock
Labels: dependencies

#232 Improve value/state flow for TextInput and UnitInput
  packages/components/src/ColorPicker/ColorPickerInputHex.js
  packages/components/src/ColorPicker/__stories__/ColorPicker.stories.js
  packages/components/src/SearchInput/SearchInput.js
  packages/components/src/Select/useSelect.js
  packages/components/src/Slider/useSlider.js
  packages/components/src/TextInput/README.md
  packages/components/src/TextInput/TextInput.js
  packages/components/src/TextInput/TextInputArrows.js
  packages/components/src/TextInput/TextInputSteppers.js
  packages/components/src/TextInput/types.ts
  packages/components/src/TextInput/useTextInput.js
  packages/components/src/TextInput/useTextInputNumberState.js
  packages/components/src/TextInput/useTextInputState.js
  packages/components/src/TextInput/useTextInputState.utils.js
  packages/components/src/UnitInput/README.md
  packages/components/src/UnitInput/UnitInput.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
  packages/components/src/UnitInput/useUnitInput.js
  packages/components/src/UnitInput/useUnitInputState.js
  packages/utils/src/hooks/index.js
  packages/utils/src/hooks/use-controlled-value.js
  packages/utils/src/hooks/use-prop-ref.js
  packages/website/src/docs/components/forms/textinput.mdx
Labels: components, enhancement, refactor

#234 Context System: Refactor substate
  packages/context/src/__stories__/ComponentsProvider.stories.js
  packages/context/src/__tests__/__snapshots__/context-system-provider.test.js.snap
  packages/context/src/__tests__/context-system-provider.test.js
  packages/context/src/context-system-provider.js
  packages/context/src/use-context-system.js
Labels: context, refactor, systems

#235 Remove zustand from color picker (Attempt 2)
  packages/components/package.json
  packages/components/src/ColorPicker/ColorPicker.js
  packages/components/src/ColorPicker/ColorPicker.styles.js
  packages/components/src/ColorPicker/ColorPickerElement.js
  packages/components/src/ColorPicker/ColorPickerInputHex.js
  packages/components/src/ColorPicker/ColorPickerInputs.js
  packages/components/src/ColorPicker/ColorPickerPreview.js
  packages/components/src/ColorPicker/ColorPickerSelect.js
  packages/components/src/ColorPicker/__stories__/ColorPicker.stories.js
  packages/components/src/ColorPicker/useColorPicker.js
  packages/components/src/ColorPicker/useColorPickerState.js
  packages/components/src/TextInput/README.md
  packages/components/src/UnitInput/README.md
  yarn.lock
Labels: components, refactor

#236 Refactor usage of substate/zustand in stories
  package.json
  packages/components/__stories__/Experiments/Clear/Clear.stories.js
  packages/components/src/ColorPicker/ColorPickerInputHex.js
  packages/components/src/UnitInput/__stories__/UnitInput.stories.js
  packages/components/src/UnitInput/useUnitInput.js
  packages/components/tsconfig.json
  packages/context/tsconfig.json
  packages/design-tools/package.json
  packages/design-tools/src/__stories__/DataFlow.stories.js
  packages/design-tools/src/__stories__/GenericToolSubState.stories.js
  packages/design-tools/src/__stories__/PerformanceTest/utils.js
  packages/design-tools/src/__stories__/Presentation/shared.js
  packages/design-tools/src/__stories__/Reakit.stories.js
  packages/design-tools/src/__stories__/Typography/components.js
  packages/design-tools/src/__stories__/Typography/controls.js
  yarn.lock
Labels: refactor

#237 Packages: Align reakit dependency with WordPress packages
  package.json
  packages/components/package.json
  packages/create-styles/package.json
  packages/styles/package.json
  packages/styles/src/presets/get.js
  packages/utils/package.json
  packages/utils/src/index.js
  packages/utils/src/warning.js
  yarn.lock
Labels: dependencies

#242 SelectDropdown: Fix zIndex issue + adjust values in zIndex registry
  packages/components/src/Dropdown/DropdownMenuCard.js
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/select-dropdown/__tests__/__snapshots__/index.js.snap
  packages/components/src/select-dropdown/select-dropdown-styles.js
  packages/components/src/select-dropdown/use-select-dropdown.js
  packages/styles/src/mixins/z-index.js
Labels: bug, components, enhancement

#243 TextInput: Improve responsiveness of drag interactions for incrementing and decrementing
  packages/components/src/TextInput/__stories__/TextInput.stories.js
  packages/components/src/TextInput/useTextInputState.utils.js
Labels: components, enhancement

#244 SelectDropdown: Ensure initial aria-expanded is rendered in reference element
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/select-dropdown/__tests__/__snapshots__/index.js.snap
  packages/components/src/select-dropdown/use-select-dropdown.js
Labels: a11y, bug, components

#247 Dropdown: Fix position for dropdown menu
  packages/components/src/Dropdown/Dropdown.styles.js
  packages/components/src/__tests__/__snapshots__/Components.test.js.snap
  packages/components/src/select-dropdown/__tests__/__snapshots__/index.js.snap
Labels: bug, components

#246 Create Styles: Update rtlcss to the latest v3 for PostCSS v8
  packages/create-styles/package.json
  yarn.lock
Labels: styles, systems

#248 Revert "Create Styles: Update rtlcss to the latest v3 for PostCSS v8
  packages/create-styles/package.json
  yarn.lock
Labels: styles, systems
